nav {
  height: 100px;
  background-color: rgba(37, 37, 37, 0.95);
}
nav .logo {
  float: left;
  padding: 20px 10px;
}
nav .menu {
  float: right;
  color: #5a5a5a;
  font-weight: bold;
  padding: 10px 10px;
}
nav .menu li {
  display: inline;
}
nav .menu li a {
  color: #5a5a5a;
  font-weight: bold;
  padding: 15px 10px;
  text-transform: uppercase;
  text-decoration: none;
}
.content .sidebar {
  position: fixed;
  width: 10%;
  background-color: rgba(37, 37, 37, 0.95);
  height: 100%;
  list-style: none;
}
.content .sidebar li a {
  color: #f0f0f0;
  display: block;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
}
.content .file-box {
  position: fixed;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  background-color: #aaa;
}
.content .file-box .file-table {
  float: left;
  width: 60%;
  height: 100%;
  background-color: #fff;
}
.content .file-box .file-table .function-bar {
  width: 100%;
}
.content .file-box .file-table .function-bar .left-items {
  float: left;
  padding: 5px 10px;
}
.content .file-box .file-table .function-bar .left-items li {
  display: inline;
}
.content .file-box .file-table .function-bar .left-items li a {
  text-decoration: none;
}
.content .file-box .file-table .function-bar .right-items {
  float: right;
  padding: 0px 10px;
}
.content .file-box .file-table .function-bar .right-items li {
  display: inline;
}
.content .file-box .file-table .function-bar .right-items li a {
  text-decoration: none;
}
.content .file-box .file-table .files {
  float: left;
  width: 100%;
  list-style: none;
}
.content .file-box .file-table .files li:nth-child(odd) {
  background-color: #f5ebdc;
}
.content .file-box .file-table .files li a {
  display: block;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
}
.content .file-box .recommander {
  float: left;
  width: 40%;
  background-color: #ccc;
}
