@bgcolor: rgba(37, 37, 37, 0.95);
@dropdown-bg: white;
@nav-button: #5a5a5a;
@sidebar-button: #f0f0f0;
@files-bg-odd: #F5EBDC;
@icon-path: '/icons/';
@icon-logo: '@{icon-path}logo.png';
@icon-search: '@{icon-path}search.png';
@icon-setting: '@{icon-path}setting.png';
@icon-grid: '@{icon-path}grid.png';
@icon-list: '@{icon-path}list.png';
@icon-tag: '@{icon-path}tag.png';
@icon-profile: '@{icon-path}profile.png';
@icon-folder: '@{icon-path}folder.png';
@icon-upper: '@{icon-path}upper.png';
@icon-lower: '@{icon-path}lower.png';
@icon-upload: '@{icon-path}upload.png';
@icon-create: '@{icon-path}create.png';
@icon-link: '@{icon-path}link.png';
@icon-delete: '@{icon-path}delete.png';
@icon-expand: '@{icon-path}expand.png';
@icon-hidden: '@{icon-path}hidden.png';
@icon-doc: '@{icon-path}doc.png';
@icon-g-download: '@{icon-path}green_download.png';
@icon-g-link: '@{icon-path}green_link.png';
@icon-g-tags: '@{icon-path}green_tags.png';
@func-gap: 10px 0px;
@files-gap: 5px 0px;
@files-lv1: 0px 10px 0px 20px;
@files-lv2: 0px 10px 0px 50px;
@files-lv3: 0px 10px 0px 80px;
@grid-size: 20%;

.icon {
	background-repeat: no-repeat;
	background-position: center;
}
.icon.tiny {
	height: 15px;
	width: 15px;
	display: inline-block;
	background-size: 15px;
}
.icon.small {
	height: 20px;
	width: 20px;
	display: inline-block;
	background-size: 20px;
}
.icon.big {
	height: 30px;
	width: 30px;
	display: inline-block;
	background-size: 30px;
}
.icon.large {
	height: 80px;
	width: 80px;
	background-size: 80px;
}
.icon.logo {
	background-image: url(@icon-logo);
}
.icon.search {
	background-image: url(@icon-search);
}
.icon.setting {
	background-image: url(@icon-setting);
}
.icon.grid {
	background-image: url(@icon-grid);
}
.icon.list {
	background-image: url(@icon-list);
}
.icon.tag {
	background-image: url(@icon-tag);
}
.icon.profile {
	background-image: url(@icon-profile);
}
.icon.folder {
	background-image: url(@icon-folder);
}
.icon.upper {
	background-image: url(@icon-upper);
}
.icon.lower {
	background-image: url(@icon-lower);
}
.icon.upload {
	background-image: url(@icon-upload);
}
.icon.create {
	background-image: url(@icon-create);
}
.icon.link {
	background-image: url(@icon-link);
}
.icon.delete {
	background-image: url(@icon-delete);
}
.icon.expand {
	background-image: url(@icon-expand);
}
.icon.hidden {
	background-image: url(@icon-hidden);
}
.icon.doc {
	background-image: url(@icon-doc);
}
.icon.g-download {
	background-image: url(@icon-g-download);
}
.icon.g-link {
	background-image: url(@icon-g-link);
}
.icon.g-tags {
	background-image: url(@icon-g-tags);
}
.tiny.arrow {
	float: left;
	height: 100%;
	padding: 0px 20px 0px 0px;
}
.list-show a {
	float: left;
	top: 15px;
	padding: 0px 0px 0px 20px;
	position: absolute;
	text-decoration: none;
}
.open span {
	float: left;
	top: 15px;
	left: 120px;
	padding: 0px 0px 0px 0px;
	position: absolute;
	margin: 25px 0px 0px 0px;
	height: 35px;
}
.recmd-from {
	float: left;
	width: 100%;
	padding: 20px 0px;
	.left-fname {
		float: left;
		padding: 0px 0px 0px 20px;
		span {
			font-size: 30px;
			font-family: arial;
			display: inline;
		}
	}
	.right-tags {
		float: right;
		padding: 0px 10px 0px 0px;
		.tag {
			float: left;
			display: inline;
			border-radius: 25px;
			padding: 5px 5px;
			margin: 0px 5px;
		}
		.blue {
			border: 2px solid #337DAB;
			background: #53A0CF;
		}
		.green {
			border: 2px solid #088A29;
			background: #5CA07A;
		}
		.red {
			border: 2px solid #FA5858;
			background: #F78181;
		}
	}
}
.recmd-list {
	float: left;
	width: 100%;
	.block {
		width: 100%;
		overflow:hidden;
		height: 70px;
		float: left;
		padding: 10px 0px;
	}
	.block img {
		float: left;
		width: 50px;
		padding: 10px 20px 0px 20px;
	}
	.block .detail {
		label {
			float: left;
			width: 80%;
			font-size: 16px;
			padding: 15px 0px 0px 0px;
		}
		span {
			float: left;
			font-size: 16px;
			color: #666;
			padding: 10px 0px 0px 0px;

		}
		.abstract {
			padding: 10px 0 0px 90px;
			color: #999;
		}
	}
}


html {
	height: 100%;
}

body {
	height: 100%;
	background-color: @bgcolor;
}

nav{
	width:  100%;
	height: 100px;
	background-color: @bgcolor;
	.logo{
		float: left;
		padding: 20px 10px;
	}

	.menu {
		margin: 0;
		float: right;
		height: 100%;
		padding: 0px 40px;
		list-style: none;
		.menu-button {
			height: 100%;
			padding: 30px 20px;
			display: table-cell;
			.input {
				height: 40px;
				border-radius: 25px;
				border: #000;
				outline: none;
			}
		}
		.dropdown {
			position: relative;
			.dropdown-toogle:focus {
				online: 0;
			}
			.dropdown-menu {
				position: absolute;
				left: -25%;
				display: none;
				list-style: none;
				text-align: left;
				background-color: @dropdown-bg;
				border: 1px solid red;
				border-radius: 10px;
				float: left;
				padding: 10px;
				li a {
					text-decoration: none;
					display: block;
					clear: both;
					line-height: 25px;
					&:hover, &:focus {
						text-decoration: none;
						color: green;
					}
				}
			}
		}


	}
}
.content {
	height: 100%;
	.sidebar {
		float: left;
		width: 10%;
		height: 100%;
		background-color: @bgcolor;
		list-style: none;
		.side-button {
			float: left;
			width: 100%;
			.tiny.icon {
				background-color: #fff;
				border-style: solid;
				border-width: 4px 4px 2px 4px;
				border-color: #337DAB;
				float: right;
				padding: 8px; 
			}
			.last.icon {
				border-width: 4px 4px 4px 4px;
			}
		}
	}

	.file-box {
		margin-left: 10%;
		width: 90%;
		height: 100%;
		.file-table {
			float: left;
			width: 60%;
			height: 100%;
			background-color: #fff;
			.function-bar {
				float: left;
				width: 100%;
				padding: @func-gap;
				.item {
					padding: 0px 10px 0px 10px;
					li {
						float: left;
						display: inline;
						margin: 0px 2px;
						span {
							margin: 0px 10px;
						}
					}
				}
				.item.left {
					float: left;
				}
				.item.right {
					float: right;
				}
			}
			.files {
				.list-style {
					float: left;
					width: 100%;
					list-style: none;
					li:nth-child(odd){
						background-color:@files-bg-odd;
					}
					li {
						padding: @files-gap;
						position: relative;
						height: 30px;
						.list-show {
							float: left;
							height: 30px;
						}
						.lv1 {
							padding: @files-lv1;
						}
						.lv2 {
							padding: @files-lv2;
						}
						.lv3 {
							padding: @files-lv3;
						}
					}
					li.open{
						padding: @files-gap;
						position: relative;
						height: 70px;
						a {
							padding: 0px 0px 0px 85px;
						}
					}
				}
				.grid-style {
					float: left;
					width: 100%;
					list-style: none;
					.grid-show {
						float: left;
						width: @grid-size;
						padding: 30px 0px;
						.icon{
							width: 100%;
							float: left;
							display: block;
						}
						a {
							width: 100%;
							float: left;
							text-align: center;
							text-decoration: none;
							padding: 5px 0px 0px 0px;
						}
					}
				}
			}
		}
		.recmder {
			float: right;
			width: 39.7%;
			height: 100%;
			background-color: #fff;
		}
		.recmd-page {
			float: left;
			width: 65%;
			height: 100%;
			background-color: #fff;
			.recmd-from .left-fname {
				padding: 20px 0px 20px 30px;
			}
			.recmd-list {
				padding: 0px 0px 0px 0px;
				.g-icon {
					float: right;
					padding: 0px 20px 0px 0px;
				}
				.block {
					height: 100px;
				}
			}
		}
		.tentacle {
			float: right;
			width: 35%;
			height: 100%;
			background-color: #fff;
			img {
				padding: 50% 0% 0px 20%;
			}
		}
		.tentacle-page {
			float: left;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}
	}
}



